.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 70px;
  height: 1px;
  background-color: var(--text-color);
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__scroll {
  margin-top: 4rem;
  text-align: center;
}

.home__scroll-wheel {
  position: relative;
  width: 20px;
  height: 30px;

  border: 2px solid var(--title-color);
  border-radius: 50px;
  box-sizing: border-box;
}

.home__scroll-wheel::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--title-color);
  border-radius: 100%;
  box-sizing: border-box;
  animation: scroll__animate 2s infinite;
}

@keyframes scroll__animate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/*========== BREAKPOINTS ==========*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home__data {
    padding: 0 5rem;
  }

  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__container {
    row-gap: 4rem;
  }

  .home__content {
    grid-template-columns: 2fr;
    padding-top: 3.5rem;
  }

  .home__data {
    padding: 0 5rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .home__data {
    padding: 0;
  }
}
